includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - src
        - routes
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    viewDirectories:
        - resources/views